---
layout: handbook-page-toc
title: "Core Platform Career Framework"
---

## On this page
{:.no_toc .hidden-md .hidden-lg}

- TOC
{:toc .hidden-md .hidden-lg}

## Core Platform Career Framework

<%= partial("handbook/engineering/career-development/matrix/engineering/infrastructure/core-platform/enablement_career_matrix_nav.erb") %>

These are the expected competencies of the Core Platform Sub Department team members at GitLab by Job Title.

## Intermediate

* [Distribution](/handbook/engineering/career-development/matrix/engineering/infrastructure/core-platform/intermediate/distribution/)

## Senior

* [Distribution](/handbook/engineering/career-development/matrix/engineering/infrastructure/core-platform/senior/distribution/)

